[Unit]
Description=Grow Monitoring Service
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/usr/share/grow-monitor
ExecStart=/usr/bin/python3 /usr/bin/grow-api
Restart=on-failure
StandardOutput=syslog+console
StandardError=syslog+console

[Install]
WantedBy=multi-user.target
